::selection
  background-color: #cfcfcf

::-moz-selection
  background-color: #cfcfcf

#header
  background-color: #fafafa
  border-bottom: 1px solid #e2e4e7
  overflow: auto
  padding: 5px

#content
  position: absolute
  margin: auto

#selector-div
  top: 70px
  bottom: 24px

#selector-content
  width: 100%
  text-align: center
  font-size: large

#crop-cal-buttons
  float: right

#calendar-div-1
  position: absolute
  width: 93%
  top: 275px
  bottom: 24px

#calendar-div-2
  position: absolute
  width: 100%
  height: 100%

#calendar
  height: 100%
  width: 100%

#info
  width: 400px
  overflow: auto
  position: absolute
  right: 0px
  border-left: 1px solid #e2e4e7
